body {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    perspective: 15rem;
    background-image: url(./images/starwars.jpg);
}
.container {
    position: absolute;
    left: -10%;
    bottom: 0;
    width: 120%;
    height: 450rem;
    transform: translateZ(-3rem);
    transform: rotateX(50deg);
    transform-origin: bottom;
}
.txt {
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    word-wrap: break-word;
    text-align: justify;
    animation: scroll 300s linear;
    color: yellow;
}
.intro p{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scroll {
    from {top: 100%;}
    to {top: -100%;}
}